{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="card mx-auto border-secondary p-1 shadow" style="width: 400px;" >
  <div class="card-body text-center">
            <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}_image">
            <div class=" mb-auto">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <h6 class="card-title">{{ post.category }}</h6>
            </div>
            <div class="card-body">
              <a href="{% url 'blog_like' post.id %}"><i class="bi bi-heart p-1">{{ post.blog_like }}</i></a>
                <i class="bi bi-chat-left-text p-2">{{post.blog_comment}}</i>
                <i class="bi bi-eye p-1">{{ post.blog_views }}</i>
            </div>
            <br>
            <div class="comment">
                <form action="" method="post">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <input type="submit"  class="btn btn-success" value="Add Comment">
                </form>
                <hr>
                <h5>Comments :</h5>
                <hr>
                {% for comment in comments %}
                <p style="text-align:left; margin-left:10px;">
                  <b>{{ comment.user }} :</b>
                  {{ comment.body }}
                  <span style="font-size: 12px; float: right; margin-right: 5px;">{{ comment.date_added }}</span>
                  
                </p>
                {% endfor %}
              </div>
            <p class="card-text" style="margin:20px" ><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
  </div>
    <br>
    {% if request.user == post.user %}
    <a href="{% url 'update' post.id %}"><button>Update</button></a>
    <a href="{% url 'delete' post.id %}"><button>Delete</button></a>
    {% endif %}
  </div>
{% endblock content %}