{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'blog/style.css' %}" />

<div class="container">
  {% for post in posts %}
  <div class="card">
    <div class="card__header">
      <img
        src="{{ post.post_image }}"
        alt="card__image"
        class="card__image"
        width="600"
      />
    </div>
    <div class="card__body">
      <span class="tag tag-blue">{{ post.category }}</span>
      <h4>{{post.title}}</h4>
      <p>{{ post.content }}</p>
      <div>
        <span><i class="bi bi-heart"></i></span> <small>1</small>
        <span><i class="bi bi-chat-left-text"></i></i></span> <small>1</small>
        <span><i class="bi bi-eye"></i></span> <small>1</small>
      </div>
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="" alt="user__image" class="user__image" />
        <div class="user__info">
          <h5>Jane Doe</h5>
          <small>{{ post.publish_date }}</small>
        </div>
      </div>
      <a href="{% url 'detail' post.id %}" class="readmore">Read More</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}