{% load static %}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  
  {% comment %} <a class="navbar-brand" href="{% url 'home'  %}"><img src=""
      alt="" />

    Clarusway FS</a> {% endcomment %}

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% comment %} {% url '/' %} {% endcomment %}
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">About</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      {% if request.user.is_authenticated %}

      {% if request.user.is_superuser %}

      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}

      <li class="nav-item active">
        {% comment %} {% url 'profile' %} {% endcomment %}
        <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
      </li>
      <li class="nav-item active">
        {% comment %} {% url 'new_post' %} {% endcomment %}
        <a class="nav-link" href="{% url 'new_post' %}">New Post</a>
      </li>
      <li class="nav-item active">
        {% comment %} {% url 'logout' %} {% endcomment %}
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
      </li>
      {% else %}

      <li class="nav-item active">
        {% comment %} {% url 'user_login' %} {% endcomment %}
        <a class="nav-link" href="{% url 'user_login' %}">Log In</a>
      </li>
      <li class="nav-item active">
        {% comment %} {% url 'register' %} {% endcomment %}
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}


    </ul>
  </div>
</nav>